
body{
    height: 100%;
}

.container{
    max-width: 380px;
    margin: 25px auto;
    padding: 20px;
    background-color: rgb(59, 59, 59);
    border-radius: 10px;
}

.screen{
    background-color: rgb(211, 242, 246);
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 5px;
    padding: 10px 20px 10px 10px;
    font-size: 3em;
    min-height: 100px;
    max-height: 100px;
    max-lines: 2;
    overflow: hidden;
}

.grid-container{
    display: grid;
    gap: 10px;
    box-sizing: border-box;
    margin-top: 30px;
    grid-template-areas:
    "reset reset delete divide"
    "d7 d8 d9 multiply"
    "d4 d5 d6 subtract"
    "d1 d2 d3 add"
    "d0 d0 dot equals";

}

.grid-container > button{
    border-radius: 5px;
    outline: none;
    
    
}

.digit, .dec-point, .evaluation{
    background-color: rgb(233, 231, 231);
    
}
.op{
    background-color: rgb(143, 214, 143);
    border-color: rgb(143, 214, 143);
    font-weight: bold;
}
.reset, .delete{
    border-color: rgb(223, 178, 119);
    background-color: rgb(223, 178, 119);
    font-weight: bold;
    
}

.evaluation{
    background-color: rgb(150, 118, 167);
    border-color: rgb(150, 118, 167);
    font-weight: bold;
}

#reset{grid-area: reset;}
#delete{grid-area: delete;}
#d0{grid-area: d0;}
#d1{grid-area: d1;}
#d2{grid-area: d2;}
#d3{grid-area: d3;}
#d4{grid-area: d4;}
#d5{grid-area: d5;}
#d6{grid-area: d6;}
#d7{grid-area: d7;}
#d8{grid-area: d8;}
#d9{grid-area: d9;}
#div{grid-area: div;}
#mult{grid-area: mult;}
#sub{grid-area: sub;}
#add{grid-area: add;}
#equals{grid-area: equals;}
#dot{grid-area: dot;}


