:root{
    --body-bc: rgb(241, 240, 240);
    --container-bc: rgb(59, 59, 59);
    --container-box-shadow-color: rgb(37, 37, 37);
    --screen-bc: rgb(211, 242, 246);
    --middle-btns-bc: rgb(233, 231, 231);
    --op-bc: rgb(143, 214, 143);
    --top-btns-bc: rgb(223, 178, 119);
    --evaluation-btn-bc: rgb(150, 118, 167);
    --btns-border-color: rgba(0, 0, 0, 0.5);

}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
    height: 100%;
    background-color: var(--body-bc);
}

.container{
    max-width: 380px;
    margin: 25px auto;
    padding: 20px;
    background-color: var(--container-bc);
    border-radius: 10px;
    box-shadow: 1px 1px 4px var(--container-box-shadow-color);
}


.screen{
    background-color: var(--screen-bc);
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    font-size: 2.3em;
    min-height: 100px;
    max-height: 100px;
    max-lines: 2;
    overflow: hidden;
}

.grid-container{
    display: grid;
    gap: 10px;
    box-sizing: border-box;
    margin-top: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "reset reset delete divide"
    "d7 d8 d9 multiply"
    "d4 d5 d6 subtract"
    "d1 d2 d3 add"
    "d0 d0 dec-point evaluation";

}

.grid-container > button{
    border: 2px solid var(--btns-border-color);
    border-radius: 5px;
    font-size: 2em;
    cursor: pointer;   
    outline: none;
}

.grid-container > button:hover{
    border-color: rgb(180, 180, 180);

}
.grid-container > button:active{
   border-color: white ;

}

.digit, .dec-point {
    background-color: var(--middle-btns-bc);
    
}
.op{
    background-color: var(--op-bc);
    border-color: var(--op-bc);
    font-weight: bold;
}
.reset, .delete{
    background-color: var(--top-btns-bc);
    border-color: var(--top-btns-bc);
    font-weight: bold;
    
}

.evaluation{
    background-color: var(--evaluation-btn-bc);
    border-color: var(--evaluation-btn-bc);
    font-weight: bold;
}

.reset{grid-area: reset;}
.delete{grid-area: delete;}
#d0{grid-area: d0;}
#d1{grid-area: d1;}
#d2{grid-area: d2;}
#d3{grid-area: d3;}
#d4{grid-area: d4;}
#d5{grid-area: d5;}
#d6{grid-area: d6;}
#d7{grid-area: d7;}
#d8{grid-area: d8;}
#d9{grid-area: d9;}
#div{grid-area: div;}
#mult{grid-area: mult;}
#sub{grid-area: sub;}
#add{grid-area: add;}
.evaluation{grid-area: evaluation;}
.dec-point{grid-area: dec-point;}


